<div class="banner">
  <div class="divimage rounded">
    <img 
      src="https://images.pexels.com/photos/4553111/pexels-photo-4553111.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" 
      class="img-fluid">
  </div>
  <div class="divtext"> 
    <h4 class="text-white"> БЕСПЛАТНА ИСПОРАКА </h4>
    <h1 class="text-info m-0">ПИЦА НА ДЕНОТ</h1>
    <h1 class="text-white"><span class="display-3 font-weight-bolder">1</span>99 мкд</h1>
    <div class="d-flex align-items-center">
      <button class="btn btn-info py-2 px-6">Нарачај сега</button>            
      <ul class="ml-3 text-white">
        <li>Американа</li>
        <li>Карбонара</li>
        <li>Веге</li>
      </ul>
    </div>
  </div>
</div>