.ads {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  img {
    width: 100%;
  }
}
  
.bottom-left-a {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.bottom-left-p {
  position: absolute;
  bottom: 45px;
  left: 16px;
}